@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

/* nav */
#nav-bar {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: limegreen;
}
#logo {
  font-family: "Rampart One", cursive;
  font-size: 40px;
  background: -webkit-linear-gradient(green, lime);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#nav-list {
  list-style-type: none;
  display: flex;
  gap: 67px;
  font-size: 22px;
  transform: translateX(-100px);
}
#nav-list > li {
  cursor: pointer;
  padding: 10px;
}
#basket > img {
  height: 45px;
  cursor: pointer;
}
#item-count {
  position: absolute;
  transform: translate(14px, -50px);
  background-color: greenyellow;
  color: black;
  font-weight: bolder;
  padding: 2px 7px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px black;
}
#nav-list > li > a {
  text-decoration: none;
  color: green;
  text-shadow: 0px 0px 2px black;
  transition-duration: 200ms;
}
#nav-list > li > a:hover {
  color: yellowgreen;
}

/* Home */
#home-page {
  background: url(./assets/BusinessPepe.png);
  height: calc(100vh - 88px);
  background-size: cover;
}

/* Shop */
#shop-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  text-align: center;
  list-style: none;
  width: 55%;
  margin: auto;
  margin-top: 80px;
  gap: 30px 10px;
}
#shop-list > li > img {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 20px lime;
}
#price {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0px;
}
#price > p {
  margin-right: 5px;
  transform: translateY(4px);
}
#price > input {
  width: 46px;
  text-align: center;
  font-size: 16px;
  padding: 2px 0px;
  outline: none;
}
#price > h3 {
  background-color: limegreen;
  padding: 4px 6px;
  border-radius: 3px;
  opacity: 0.7;
  box-shadow: 0px 0px 3px gray;
  text-shadow: 0px 0px 5px white;
  transition-duration: 300ms;
}
#price > h3:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* About */
#about {
  max-width: 90%;
  width: 900px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  color: limegreen;
  background-color: black;
  padding: 15px 10px;
  font-size: 18px;
  border-radius: 2px;
  user-select: text;
}
